<div class="mt-5">
  <div>
    <form class="col-4 form-group filter" id="filter-category" action="/records/filter" method="POST">
      <select class="custom-select" id="filter" name="filter" aria-describedby="filter-category"
        onchange="this.form.submit()" aria-label="filter-category">
        <option value="0" selected disabled>篩選類別...</option>
        <option value="家居物業" {{#if (eq filterCategory '家居物業' )}}selected{{/if}}>家居物業</option>
        <option value="交通出行" {{#if (eq filterCategory '交通出行' )}}selected{{/if}}>交通出行</option>
        <option value="休閒娛樂" {{#if (eq filterCategory '休閒娛樂' )}}selected{{/if}}>休閒娛樂</option>
        <option value="餐飲食品" {{#if (eq filterCategory '餐飲食品' )}}selected{{/if}}>餐飲食品</option>
        <option value="其他" {{#if (eq filterCategory '其他' )}}selected{{/if}}>其他</option>
      </select>
    </form>
  </div>
  <div>
    <p>總金額</p>
    <p id="total-amount">{{totalAmount}}</p>
  </div>
  <table class="records-index">
    {{#each records}}
    <tr>
      <td>
        {{this.category}}
      </td>
      <td>
        {{this.name}}
      </td>
      <td>
        {{dateFormat this.date "YYYY-MM-DD"}}
      </td>
      <td>
        {{this.amount}}
      </td>
      <td>
        <a href="/records/{{ this._id }}/edit">修改</a>
      </td>
      <td>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </table>
  <a href="/records/create">新增支出</a>
</div>